<h1> Welcome to J_R Blogs </h1>

<!DOCTYPE html>
<html>
<head>
  <title>Register</title>
  </head>
  <body>
    <form action=' /users' method="POST">
      <input type=text name"username"><br>
      <input type=password name="password"><br>
      <input type="submit" value="Register">
      <input type ="reset"
    <form>

      
