
<h1>Create a new Post</h1>

<form action="/owners" method="POST">
  <label>Name:</label>

  <br>

  <input type="text" name="content" id="owner_name">

  <input type="submit" value="Create Owner">
</form>
