<% if @post.user_id == current_user.id %>
<a href="/posts/<%= @post.id %>/edit"><button type="button">Edit Post</button></a><br><br>
<form method="post" action="/posts/<%= @post.id %>">
  <input id="hidden" type="hidden" name="_method" value="DELETE">
  <input type="submit" value="Delete Post">
</form>
<% end %>
