
<!DOCTYPE html>
  <head>
    <title>JR Blogs</title>
    <link rel="stylesheet" href="/stylesheets/main.css" />
  </head>
  <body>
    <div class="wrapper">

      <nav>
        <ul>
        <% if logged_in? %>

      </div>


      <div class="row">
        <div class="leftcolumn">
          <div class="card">
            <br>
            <h3>TITLE <br> <textarea id=”content” name=”content”></textarea></h3>

            <h3>BODY <br> <textarea id=”content” name=”content”></textarea></h3>
        <br>


          <div class="card">
          </div>

        <div class="rightcolumn">
          <div class="card">
        <h3>SUMMARY <br> <textarea id=”content” name=”content”></textarea></h3>

      <a href="homepage">
      <button>Submit Button<button></a>
                        <br>

        <script type="text/javascript">
var postTitle=new Array();var postUrl=new Array();var postMp3=new Array();var
postDate=new Array();var postYear=new Array();var postMonth=new Array()</script>

<html>
    <head>
      <title>Blog list UI Design</title>
      <link rel="stylesheet" type="text/css" href="/stylesheets/main.css">
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0
      jquery.min.js"></script>
      </head>
      <body>
        <ul>
            <li>

              <html lang="en" dir="rtl" class="translated-ltr"><head>
                  <meta charset="utf-8">
                  <meta name="viewport" content="width=device-width, initial-scale=1">
                  <meta name="description" content="">
                  <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
                  <meta name="generator" content="Hugo 0.82.0">
                  <title>Circular Template Bootstrap v5.0</title>

                  <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/carousel-rtl/">



                  <!-- Bootstrap core CSS -->
              <link href="/docs/5.0/dist/css/bootstrap.rtl.min.css" rel="stylesheet" integrity="sha384-trxYGD5BY4TyBTvU5H23FalSCYwpLA0vWEvXXGm5eytyztxb+97WzzY+IWDOSbav" crossorigin="anonymous">

                  <!-- Favicons -->
              <link rel="apple-touch-icon" href="/docs/5.0/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
              <link rel="icon" href="/docs/5.0/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
              <link rel="icon" href="/docs/5.0/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
              <link rel="manifest" href="/docs/5.0/assets/img/favicons/manifest.json">
              <link rel="mask-icon" href="/docs/5.0/assets/img/favicons/safari-pinned-tab.svg" color="#7952b3">
              <link rel="icon" href="/docs/5.0/assets/img/favicons/favicon.ico">
              <meta name="theme-color" content="#7952b3">


                  <style>
                    .bd-placeholder-img {
                      font-size: 1.125rem;
                      text-anchor: middle;
                      -webkit-user-select: none;
                      -moz-user-select: none;
                      user-select: none;
                    }

                    @media (min-width: 768px) {
                      .bd-placeholder-img-lg {
                        font-size: 3.5rem;
                      }
                    }
                  </style>


                  <!-- Custom styles for this template -->
                  <link href="../carousel/carousel.rtl.css" rel="stylesheet">
                <link type="text/css" rel="stylesheet" charset="UTF-8" href="https://translate.googleapis.com/translate_static/css/translateelement.css"></head>
                <body>

              <header>
                <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
                  <div class="container-fluid">
                    <a class="navbar-brand" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">circular</font></font></a>
                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Navigation toggle">
                      <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarCollapse">
                      <ul class="navbar-nav me-auto mb-2 mb-md-0">
                        <li class="nav-item">
                          <a class="nav-link active" aria-current="page" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Homepage</font></font></a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Link</font></font></a>
                        </li>
                        <li class="nav-item">
                          <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Disabled</font></font></a>
                        </li>
                      </ul>
                      <form class="d-flex">
                        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success" type="submit"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Search</font></font></button>
                      </form>
                    </div>
                  </div>
                </nav>
              </header>

              <main>

                <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
                  <div class="carousel-indicators">
                    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2" class=""></button>
                    <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3" class="active" aria-current="true"></button>
                  </div>
                  <div class="carousel-inner">
                    <div class="carousel-item">
                      <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"></rect></svg>

                      <div class="container">
                        <div class="carousel-caption text-start">
                          <h1><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Example title.</font></font></h1>
                          <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">The end of the situations that I add, it is from their return and introduction. </font><font style="vertical-align: inherit;">That is, the number of amalgamations is the end and the most, the extravagant theater and Poland around and, each as a policy weeks. </font><font style="vertical-align: inherit;">With where the Congress moves forward, it and the 2004 option, both in place and arose. </font><font style="vertical-align: inherit;">With nearly no failure, the North China air taking on.</font></font></p>
                          <p><a class="btn btn-lg btn-primary" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Register today</font></font></a></p>
                        </div>
                      </div>
                    </div>
                    <div class="carousel-item">
                      <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"></rect></svg>

                      <div class="container">
                        <div class="carousel-caption">
                          <h1><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Another example title.</font></font></h1>
                          <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Then coincided with the French Economic House. </font><font style="vertical-align: inherit;">For all about the pressures involved, that even select cities by landing. </font><font style="vertical-align: inherit;">On the reunification of those failures, but the lands of their countries around. </font><font style="vertical-align: inherit;">Without being and that then, cost and comfort they could not find. </font><font style="vertical-align: inherit;">Jolt in the same lines of mankind.</font></font></p>
                          <p><a class="btn btn-lg btn-primary" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">I know more</font></font></a></p>
                        </div>
                      </div>
                    </div>
                    <div class="carousel-item active">
                      <svg class="bd-placeholder-img" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" aria-hidden="true" preserveAspectRatio="xMidYMid slice" focusable="false"><rect width="100%" height="100%" fill="#777"></rect></svg>

                      <div class="container">
                        <div class="carousel-caption text-end">
                          <h1><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">One more for good measure.</font></font></h1>
                          <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">The League decided that it would be possible for the residents and the government to be loyal. </font><font style="vertical-align: inherit;">It was in Japanese Europe, there was a portal about each other. </font><font style="vertical-align: inherit;">Failure to head thousands be alone.</font></font></p>
                          <p><a class="btn btn-lg btn-primary" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Browse the gallery</font></font></a></p>
                        </div>
                      </div>
                    </div>
                  </div>
                  </div>


                <!-- Marketing messaging and featurettes
                ================================================== -->
                <!-- Wrap the rest of the page in another container to center all the content. -->

                <div class="container marketing">

                  <!-- Three columns of text below the carousel -->
                  <div class="row">
                    <div class="col-lg-4">
                      <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>

                      <h2><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Title</font></font></h2>
                      <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">If the term was accelerated, before the participant's score, that is, George Ozar made the stage. </font><font style="vertical-align: inherit;">That and declaring the coast, could be an prohibitively expensive substitution. </font><font style="vertical-align: inherit;">To what the right-wing government was in, the evacuation of the result before it was done. </font><font style="vertical-align: inherit;">Poland help, ie this provision.</font></font></p>
                      <p><a class="btn btn-secondary" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">View details</font></font></a></p>
                    </div><!-- /.col-lg-4 -->
                    <div class="col-lg-4">
                      <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>

                      <h2><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Title</font></font></h2>
                      <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">It is the last of the European dollars agreement, again Tokyo and it, and it spawned business from this mother. </font><font style="vertical-align: inherit;">From lala june africa, traditional control and from 30. </font><font style="vertical-align: inherit;">It is the dear convention of Wikipedia, enabled, and to defeat the aggression of Ireland. </font><font style="vertical-align: inherit;">And he accepted the blessing of the Europeans for a loss, and he challenged the Philippines, nothing not.</font></font></p>
                      <p><a class="btn btn-secondary" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">View details</font></font></a></p>
                    </div><!-- /.col-lg-4 -->
                    <div class="col-lg-4">
                      <svg class="bd-placeholder-img rounded-circle" width="140" height="140" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 140x140" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#777"></rect><text x="50%" y="50%" fill="#777" dy=".3em">140x140</text></svg>

                      <h2><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Title</font></font></h2>
                      <p><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Other than the heavy and so called conditions, there was no history of war for control at a time, the house of no development. </font><font style="vertical-align: inherit;">To Mankind Japan in. </font><font style="vertical-align: inherit;">As for the famous two, Ireland is what, to declare and multiply and cities. </font><font style="vertical-align: inherit;">In non-party to self-control. </font><font style="vertical-align: inherit;">Second Congress except from, the 30th century and the beginning of the Eastern Province.</font></font></p>
                      <p><a class="btn btn-secondary" href="#"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">View details</font></font></a></p>
                    </div><!-- /.col-lg-4 -->
                  </div><!-- /.row -->


                  <!-- START THE FEATURETTES -->

                  <hr class="featurette-divider">

                  <div class="row featurette">
                    <div class="col-md-7">
                      <h2 class="featurette-heading"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Distinguished First Title. </font></font><span class="text-muted"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">It will stun your mind.</font></font></span></h2>
                      <p class="lead"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">In this commercial planning, as these reunions are loyal to Lightning. </font><font style="vertical-align: inherit;">Create and without agreement without making the parties share the business. </font><font style="vertical-align: inherit;">Rather, to single leaders, to commercial dominance until then. </font><font style="vertical-align: inherit;">He even created it Pal. </font><font style="vertical-align: inherit;">Masha gate either, what is in the wisest of traditional opponents.</font></font></p>
                    </div>
                    <div class="col-md-5">
                      <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>

                    </div>
                  </div>

                  <hr class="featurette-divider">

                  <div class="row featurette">
                    <div class="col-md-7 order-md-2">
                      <h2 class="featurette-heading"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Oh yeah, that's good. </font></font><span class="text-muted"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Watch for yourself.</font></font></span></h2>
                      <p class="lead"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Page and land deprivation or take, so bordering heavy might Britain. </font><font style="vertical-align: inherit;">He took no to declare hegemony, and in all loyalty to the two peoples. </font><font style="vertical-align: inherit;">Losing costs for why not, since it is rightly a heavy pro. </font><font style="vertical-align: inherit;">The Great Philippines was introduced, I collected a free slogan where even. </font><font style="vertical-align: inherit;">Show and leave necessary.</font></font></p>
                    </div>
                    <div class="col-md-5 order-md-1">
                      <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>

                    </div>
                  </div>

                  <hr class="featurette-divider">

                  <div class="row featurette">
                    <div class="col-md-7">
                      <h2 class="featurette-heading"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Finally, this. </font></font><span class="text-muted"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">Checkmate.</font></font></span></h2>
                      <p class="lead"><font style="vertical-align: inherit;"><font style="vertical-align: inherit;">This territory moved off, a chair and earned a done pl. </font><font style="vertical-align: inherit;">Rightly so, but the powers and Finland, the atmosphere and the costs were brought down, because the sixth was that. </font><font style="vertical-align: inherit;">And after port of none, surf left that is. </font><font style="vertical-align: inherit;">That states with lines, a declaration and a claim, the European counterfeit, separately, it arose.</font></font></p>
                    </div>
                    <div class="col-md-5">
                      <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"></rect><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>
                      <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.82.0">
    <title>Circular Template Bootstrap v5.0</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/carousel-rtl/">



    <!-- Bootstrap core CSS -->
<link href="/docs/5.0/dist/css/bootstrap.rtl.min.css" rel="stylesheet" integrity="sha384-trxYGD5BY4TyBTvU5H23FalSCYwpLA0vWEvXXGm5eytyztxb+97WzzY+IWDOSbav" crossorigin="anonymous">

    <!-- Favicons -->
<link rel="apple-touch-icon" href="/docs/5.0/assets/img/favicons/apple-touch-icon.png" sizes="180x180">
<link rel="icon" href="/docs/5.0/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
<link rel="icon" href="/docs/5.0/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
<link rel="manifest" href="/docs/5.0/assets/img/favicons/manifest.json">
<link rel="mask-icon" href="/docs/5.0/assets/img/favicons/safari-pinned-tab.svg" color="#7952b3">
<link rel="icon" href="/docs/5.0/assets/img/favicons/favicon.ico">
<meta name="theme-color" content="#7952b3">


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>


    <!-- Custom styles for this template -->
    <link href="../carousel/carousel.rtl.css" rel="stylesheet">

  <link type="text/css" rel="stylesheet" charset="UTF-8" href="https://translate.googleapis.com/translate_static/css/translateelement.css"></head>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width-device-width, initial-scale=1">
  <meta name="description" content>
  <meta name="author" content="Mark Otto, Jacob Thorton, and Bootsrap conrtibutors">
  <meta name="generator" content="Hugo -.82.0">
  <title>Circular Temmplate Bootsrap v5.0</title>
  <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/carousel-rtl/">
  <!-- Bootstrap core CSS -->
  <link href="/docs/5.0/dist/css/bootstrap.rtl.min.css" rel="stylesheet" integrity="sha384-trxYGD5BY45yBTvU5H23FalSCYwpLA0vWEvXXGm5eytyztxb+97WzzY+IWDOSbav" crossorigin="anonymous">
  <!-- Favicons -->
  <link rel="apple-touch-icon" href="/docs/5.0/assets/img/favicons/apple-touch-icon-png" sizes="180x180">
  <link rel="icon" href="/docs/5.0/assets/img/favicons/favicon-32x32.png" sizes="32x32" type="image/png">
  <link rel="icon" href="/docs/5.0/assets/img/favicons/favicon-16x16.png" sizes="16x16" type="image/png">
  <link rel="manifest" href="/docs/5.0/assets/img/favicons/manifest.json">
  <link rel="mask-icon" href="/docs/5.0/assets/img/favicons/safari-pinned-tab.svg" color="#7952b3">
  <link rel="icon" href="/docs/5.0/assets/img/favicons/favicon/ico">
  <meta name="theme-color" content=#7952b3
  <style>
          <li><a href="/posts">All Posts</a></li>
          <li><a href="/logout">Log Out</a></li>
      <% else %>
          <li><a href="/signup">Sign Up</a></li>
          <li><a href="/login">Log In</a></li>
           <a class="active" href="/">Home</a>

        <% end %>
        </ul>
      </nav>
      <br><br>


        <%= yield %>

      <footer class="branding">
      <div class="row">
        <div class="column"><small>&copy; 2020 <strong>JR_Blogs</strong></small></div>
        <div class="column"><small>Made by Jordan Reed
      </div>
      </footer>
    </div>
